.studentContainer{
    height: 400px;
    width: 100%;
    margin: 20px 0 50px 0;
}

.TeacherContainer{
    height: 400px;
    width: 100%;
    margin: 20px 0 100px 0;
}

.title{
    color: rgb(56, 59, 65);
}