.homepage-view {
  .img-1 {
    background-image: url("../../images/Building\ 2_\ Reading\ Room\ 3_Andy\ Roberts.jpg");
    height: 500px;
    background-size: cover;
  }
  .img-2 {
    background-image: url("../../images/backgroung.jpg");
    background-size: cover;
    height: 500px;
  }
  .img-3 {
    background-image: url("../../images/Building\ 2_\ Reading\ Room\ 7_Andy\ Roberts.jpg");
    background-size: cover;
    height: 500px;
  }
  .information{
      text-align: center;
      width: 90%;
      color: grey;
      margin: auto;
  }
}
