.blue-navbar {
  nav {
    height: 70px;
    font-size: large;
  }
  .navbar-brand {
    font-size: 1.75em;
    margin-left: 30px;
  }
  .nav-menu {
    width: 300px;
    margin-right: 20px;
  }
  .navbar-nav {
    justify-content: space-between;
  }
  .common-navbar {
    margin-bottom: 30px;
  }
  .navbar {
    justify-content: space-between;
  }
  .logout-icon{
    width: 25px;
    height:25px;
    background-size: cover;
    background-image: url('../../images/logout.png');
  }
}
